--font-smaller: var(--font-small);

.smaller {
	font-size: var(--font-smaller) !important;
	line-height: 1 !important;
}

.mod-right-split {
	
	.smaller-right {
		font-size: var(--font-smaller) !important;
		--table-text-size: var(--font-smaller);
		--embed-font-style: 
		--sidebar-markdown-font-size: calc(var(--font-smaller) * 0.9);
		margin-top: 5px;
		--list-indent: 1em;
		padding: 5px !important;
	}
	
	.smaller-right .markdown-preview-view {
		font-size: var(--font-smaller) !important;	
	}
	
	.smaller-right .metadata-container {
		display: none !important; 
	}
	
	.smaller-right .dataview.result-group {
		padding-left: 20px;
	}
	
	.dataview.task-list-item, .dataview.task-list-basic-item {
		padding-left: 20px;
	}
	
	.smaller .markdown-rendered {
		margin-block-start: 0px;
	}
	
	.smaller-right input[type=checkbox] {
		width: 	var(--font-smaller);
		height: var(--font-smaller);
	}
	
	.smaller-right .mod-right-split {
		font-size: var(--font-smaller) !important;	
	}

	.markdown-rendered ul, .smaller .markdown-rendered ol {
		padding-inline-start: 0px !important;
	}
	

}